<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.sacooliveros.apptablet">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logoinicio"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.microsoft.identity.client.BrowserTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="auth"
                    android:scheme="msale12cac02-0384-4494-8d68-e5c839011e8c" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Secundaria.NavActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FragmentNavigator.HelicoBalotariosActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemePdf"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ActualizarPDFActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemePdf"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ViewActivity" />
        <activity android:name=".FragmentNavigator.TomosMateriales.Materias.MateriasOneActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Secundaria.ViewTomosActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemePdf"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ViewTomo3Activity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppPdfVisualizador"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".DBDescargas.DescargasActivity"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemePdf"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".DBDescargas.MainDescargaActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Authenticacion.firebaseAuth"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeTitulos"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Authenticacion.FBginAuth"
            android:configChanges="screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeTitulos" />
        <activity android:name=".Microsoft.authMicrosoft" />
        <activity android:name=".Azure.MainAzure" />
        <activity
            android:name=".PptViewer"
            android:configChanges="screenSize|orientation"
            android:theme="@style/AppThemeTitulos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Primaria.NavigatorPrimaria"
            android:configChanges="screenSize|orientation"
            android:label="@string/title_activity_navigator_primaria"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".YouTube.YouTubeViewer"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeTitulos" />
        <activity
            android:name=".YouTube.ViewYouTubeScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Publicidad"
            android:configChanges="screenSize|orientation"
            android:theme="@style/AppThemePublicidad">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Seleccion.CiclosEspeciales"
            android:label="@string/title_activity_ciclos_especiales"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PresentacionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/SplashTheme" />
        <activity android:name=".Politica_de_Privacidad" />
        <activity android:name=".ScreenPeriodo" />
        <activity
            android:name=".YouTube.YouTubeControls"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Secundaria.ActivityAulaVirtual"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".Secundaria.DataBaseHelper.AsignaturaActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Balotario.VisorPdfActivity"
            android:theme="@style/AppThemeVisorPdf"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Balotario.BalotarioMenuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Balotario.BalotarioOpcionesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Balotario.BalotariosPeriodosActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FinallyActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>